<nav class="navbar navbar-icsme navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{site.title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "home" %} class="active"{% endif %}>
          <a href="/">Home</a>
        </li>
        <li class="dropdown {% if page.slug == "cfp" %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Call for Papers <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/cfp/dates.html">Important Dates</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/cfp/research-track.html">Research Track</a></li>
            <li><a href="/cfp/era-track.html">ERA Track</a></li>
            <li><a href="/cfp/industry-track.html">Industry Track</a></li>
            <li><a href="/cfp/tool-demos-track.html">Tool Demos Track</a></li>
            <li><a href="/cfp/artifacts-track.html">Artifacts Track</a></li>
            <li><a href="/cfp/doctoral-symposium.html">Doctoral Symposium</a></li>
            <li><a href="/cfp/technology-briefings.html">Technology Briefings</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Co-Located Events <span class="caret"></span></a>
          <!-- <ul class="dropdown-menu inverse-dropdown"> -->
          <ul class="dropdown-menu">
            <li><a href="http://www.ieee-scam.org/2016/">SCAM</a></li>
            <li><a href="http://ssbse.org/2016/">SSBSE</a></li>
            <li><a href="http://vissoft16.ysu.edu/">VISSOFT</a></li>
            <li><a href="#">MESOCA</a></li>
            <li><a href="https://www.sei.cmu.edu/community/td2016/">MTD</a></li>
            <!-- <li class="dropdown-header">Nav header</li> -->
            <!-- <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
        <li class="dropdown {% if page.slug == "team" %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
          <!-- <ul class="dropdown-menu inverse-dropdown"> -->
          <ul class="dropdown-menu">
            <li><a href="/team/organizing-committee.html">Organizing Committee</a></li>
            <li><a href="/team/program-committee.html">Program Committee</a></li>
            <li><a href="http://conferences.computer.org/icsm/Steering_Committee_Members.html">Steering Committee</a></li>
            <li><a href="/team/supporters.html">Supporters</a></li>
          </ul>
        </li>
        <li{% if page.slug == "venue" %} class="active"{% endif %}>
          <a href="/venue.html">Venue</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
