<div class="row"><div class="col-xs-12">&nbsp;</div></div>
<div class="page-header">
  <div class="row">
    <div class="col-xs-12">
      <img class="img-responsive" src="/assets/logos/icsme2016-raleigh.jpg" alt="icsme2016-logo" />
      <div class="photo-credit">
        Photograph: <a title="Original on Flickr" href="https://www.flickr.com/photos/paulmalcolm/13159552275/">City in the Twilight</a> by <a title="Author" href="https://www.flickr.com/photos/paulmalcolm/" >Paul Malcolm</a>
      </div>
    </div>
  </div>
</div>
