body {
  position: relative;
}

.photo-credit {
  padding-top: 0.3em;
  font-size: 0.6em;
  text-align: left;
}

/*
 * icsme2016-footer
 */
.icsme2016-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  color: #777;
  text-align: center;
  border-top: 6px solid #e5e5e5;
}
.footer-links {
  margin-top: 20px;
  padding-left: 0;
  color: #999;
}
.footer-links a:visited {
  color: #c00;
}
.footer-links a:hover {
  color: #900;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
@media (min-width: 768px) {
  .bs-footer p {
    margin-bottom: 0;
  }
}

/*
 * icsme2016-title
 */
.icsme2016-title {
  margin-top: 11px;
  margin-bottom: 0px;
}

/*
 * icsme2016-subtitle
 */
.icsme2016-subtitle {
  margin-top: 4px;
  margin-bottom: 0px;
}

/*
 * icsme2016-endtitle
 */
.icsme2016-endtitle {
  margin-top: 4px;
  margin-bottom: 22px;
}

/*
 * navbar-icsme
 */
.navbar-icsme {
  background-color: #c00;
  border-color: #b30000;
}
.navbar-icsme .navbar-brand {
  color: #fff;
}
.navbar-icsme .navbar-brand:hover,
.navbar-icsme .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-icsme .navbar-text {
  color: #fcc;
}
.navbar-icsme .navbar-nav > li > a {
  color: #fcc;
}
.navbar-icsme .navbar-nav > li > a:hover,
.navbar-icsme .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-icsme .navbar-nav > .active > a,
.navbar-icsme .navbar-nav > .active > a:hover,
.navbar-icsme .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-icsme .navbar-nav > .disabled > a,
.navbar-icsme .navbar-nav > .disabled > a:hover,
.navbar-icsme .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-icsme .navbar-toggle {
  border-color: #b30000;
}
.navbar-icsme .navbar-toggle:hover,
.navbar-icsme .navbar-toggle:focus {
  background-color: #b30000;
}
.navbar-icsme .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-icsme .navbar-collapse,
.navbar-icsme .navbar-form {
  border-color: #b30000;
}
.navbar-icsme .navbar-nav > .open > a,
.navbar-icsme .navbar-nav > .open > a:hover,
.navbar-icsme .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: transparent;
}
@media (max-width: 767px) {
  .navbar-icsme .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #b30000;
  }
  .navbar-icsme .navbar-nav .open .dropdown-menu .divider {
    background-color: #b30000;
  }
  .navbar-icsme .navbar-nav .open .dropdown-menu > li > a {
    color: #fcc;
  }
  .navbar-icsme .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-icsme .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-icsme .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-icsme .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-icsme .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-icsme .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-icsme .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-icsme .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-icsme .navbar-link {
  color: #fcc;
}
.navbar-icsme .navbar-link:hover {
  color: #fff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #c00;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #c00;
}
